.conatiner{
  width: 100%;
  height: auto;
  border-radius:30px ;
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%); */
  background-color: red;
  border: 1.6px solid rgba(151, 71, 255, 0.6); /* #9747FF99 */
  
  padding: 20px;
  

}