.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    z-index: 1;
    border: 1px;
    
 background: linear-gradient(180deg, rgba(151, 71, 255, 0.4) 0%, rgba(100, 82, 243, 0) 100%); 
  }

  .container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh; 
    position: relative; 
    background: black;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.89px;
    flex-direction: column;
    flex: 1;
    gap: 26px;
    color: white;
  }

  .logotext{
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
  }
  
  .bottomrect {
    position: absolute; 
    bottom: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    padding: 1.5rem 0; /* Add spacing around the rectangle */
  }